p{
    text-decoration: underline;
    font-size: 20px;
    color: gray;
}

#azulao{
    text-decoration: none;
    font-style: italic;
    font-size: 25px;
    color: blue;
}

.tamanhoFonte{
    font-size: 30px;
}

.corFonte{
    color: aqua;
}

.fonteTexto{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}